<div ng-cloak>
    <div class="row">
        <div class="col-md-4">
            <span class="clock img-responsive img-rounded"></span>
        </div>
        <div class="col-md-8">
            <h1>The awesome time tracking tool!</h1>
            <div class="alert alert-success" ng-show="vm.success">
                <strong>Your time has been logged successfully!</strong>
            </div>

            <div ng-switch="vm.isAuthenticated()">

                <div ng-switch-when="true">
                    <form name="newWorklogForm" role="form" novalidate ng-submit="vm.save()" show-validation>
                        <div class="form-group">
                        <label class="control-label" for="field_workFrom">When did you start working?</label>
                        <div class="input-group">
                            <input id="field_workFrom" type="text" class="form-control" name="workFrom" datetime-picker="{{dateformat}}" ng-model="vm.newWorkLog.workFrom" is-open="vm.datePickerOpenStatus.workFrom"
                                   required  />
                            <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="vm.openCalendar('workFrom')"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                        </div>
                        <div ng-show="newWorklogForm.workFrom.$invalid">
                            <p class="help-block"
                               ng-show="newWorklogForm.workFrom.$error.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="newWorklogForm.workFrom.$error.ZonedDateTimelocal">
                                This field should be a date and time.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label" for="field_workTo">When did you stop working?</label>
                        <div class="input-group">
                            <input id="field_workTo" type="text" class="form-control" name="workTo" datetime-picker="{{dateformat}}" ng-model="vm.newWorkLog.workTo" is-open="vm.datePickerOpenStatus.workTo"
                                   required  />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.openCalendar('workTo')"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </div>
                        <div ng-show="newWorklogForm.workTo.$invalid">
                            <p class="help-block"
                               ng-show="newWorklogForm.workTo.$error.required">
                                This field is required.
                            </p>
                            <p class="help-block"
                               ng-show="newWorklogForm.workTo.$error.ZonedDateTimelocal">
                                This field should be a date and time.
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="field_project">What project have you been working on?</label>
                        <select class="form-control" id="field_project" name="project" ng-model="vm.newWorkLog.project" ng-options="project as project.name for project in vm.projects track by project.id" required>
                            <option value=""></option>
                        </select>
                    </div>
                    <div ng-show="newWorklogForm.project.$invalid">
                        <p class="help-block"
                           ng-show="newWorklogForm.project.$error.required">
                            This field is required.
                        </p>
                    </div>
                    <button type="submit" ng-disabled="newWorklogForm.$invalid || vm.isSaving" class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save {{vm.newWorkLog.timeDiff()}} hours!</span>
                    </button>
                    </form>
                </div>

                <div class="alert alert-warning" ng-switch-when="false">
                    Please <a class="alert-link" href="" ng-click="vm.login()">sign in</a> to track your time! <br/>
                    You don't have an account yet? <a class="alert-link" ui-sref="register">Register a new account</a>
                </div>
            </div>

        </div>
    </div>
</div>
